/* Declaring custom properties */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#header {
  background-image: url(FOTOS/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#head{

}

#logo{
  padding: 0.5em;
}

#logo-description{
  text-align: right;
  margin-right: 5em;
}

#logo-description li {
  display: inline-block;
  padding left: 0.5em;
  padding-right: 0.5em;
}

#verde{
  background-color: green;
}

#menu {
  padding: 1em;
  background-color: white;
  color: black;
}

#logo-main{
  display: inline-block;

}
#menu > ul {
  margin: 0;
  padding: 0;
  margin-right: 4em;
  float: right;
  list-style-type: none;
}

#menu > ul > li {
  display: inline-block;
  padding left: 0.5em;
  padding-right: 0.5em;
}

#search-bar {
  float: right;
  margin-left: 1em;
  border-left: none !important;
}

#search-bar input {
    border-radius: 0.5em;
}

#banner{
  color: green;
  text-align: center;
  padding: 5em;
}

#post{
  color: white;
  text-align: center;

}

#busqueda {
  text-align: center;
  border-left: none !important;
  list-style-type: none;
}

#busqueda > ul {
  list-style-type: none;
  text-align: center;
}

#busqueda > ul > li {
  display: inline-block;
  text-align: center;
}

#escribir > input {
  font-size: 1.25em;
  text-align: center;
}

#busca{
  background-color: green;
  color: white;
  margin-left: -0.25em;
  padding-top: 0.13em;
  padding-bottom: 0.11em;
  font-size: 1.25em;
  text-align: center;
}










#ourcourses {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  background-color: #f3f6fb;

}

#sidebar {
  padding: 1em;
}

.sidebar-element select {
  width:100%;
  max-width: 100%;
}

.sidebar-title {
  font-size: 0.6em;
  font-weight: bolder;
}

#content {
  padding: 1em;
  display: grid;
  grid-column-gap: 2em;
  grid-template-columns: 1fr 1fr 1fr;
}

.card hr {
  color: #42cdc6;
}

.card-image img {
  width: 100%;
  max-width: 100%;
}

.card-title, .card-subtitle, .card-views, .card-reviews {
  padding: 0.5em;
}

.card-title {
  font-weight: bolder;
  padding-bottom: 2em;
}

.card-subtitle {
  font-size: 0.8em;
}

.card-reviews {
  font-size: 0.8em;
  font-weight: bolder;
}

.card-footer {
  color: gray;
  font-size: 0.7em;
}

#banner {
  padding: 1em;
}

#banner img {
  width: 100%;
  max-width: 100%;
}












#footer {
  background-color: black;
  color: lightgrey;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

#verdee{
  color: green;
}

#auri span {
  margin-right: 0.5em;
}

#emai span {
  margin-right: 0.5em;
}

#ubi span {
  margin-right: 0.5em;
}
#xx {
  margin-left: 1.60em;
}
#write > input{
  margin-top: 1em;
  width: 15em;
  height: 2.5em;
  place
}

#buscar{
  background-color: green;
  color: white;
  margin-left: -0.25em;
  padding-top: 0.40em;
  padding-bottom: 0.49em;
  font-size: 1.25em;
  text-align: center;
}

#footer h6 {
  font-size: 1em;
}



#e{
  color: green;
}

#footer h6 > span {
  border-bottom: 2px solid green;

}

#footer ul {
  font-size: 0.8em;
}

.footer-columns{
  margin-bottom: 2em;
}

.footer-column{
  margin-right: 1em;
}

.footer-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-column ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}















#contenido {
  background-color: white;
  color: black;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

#contenido h6 {
  font-size: 1em;
  margin-bottom: 2em;
}

#contenido ul {
  font-size: 0.8em;
}

.contenido-columns{
  margin-bottom: 2em;
}

.contenido-column{
  margin-right: 1em;
}

.contenido-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.contenido-column ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
