/* Declaring custom properties */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#header {
  padding: 0.5em;
  background-image: url(FOTOS/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#logo-description{
  text-align: right;
  margin-right: 5em;
}

#logo-description li {
  display: inline-block;
  padding left: 0.5em;
  padding-right: 0.5em;
}

#verde{
  background-color: green;
}

#menu {
  padding: 1em;
  margin-right: 4em;
  background-color: white;
  color: black;
}

#logo-main{
  display: inline-block;
}
#menu > ul {
  margin: 0;
  padding: 0;
  float: right;
  list-style-type: none;
}

#menu > ul > li {
  display: inline-block;
  padding left: 0.5em;
  padding-right: 0.5em;
}

#search-bar {
  float: right;
  margin-left: 1em;
  border-left: none !important;
}

#search-bar input {
    border-radius: 0.5em;
}

#banner{
  color: green;
  text-align: center;
  padding: 5em;

}

#post{
  color: white;
  text-align: center;

}

#busqueda {
  text-align: center;
  border-left: none !important;
  list-style-type: none;
}

#busqueda > ul {
  list-style-type: none;
  text-align: center;
}

#busqueda > ul > li {
  display: inline-block;
  text-align: center;
}

#escribir > input {
  font-size: 1.25em;
  text-align: center;

}

#busca{
  background-color: green;
  color: white;
  margin-left: -0.25em;
  padding-top: 0.13em;
  padding-bottom: 0.11em;
  font-size: 1.25em;
  text-align: center;
}















#footer {
  background-color: black;
  color: lightgrey;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

#verdee{
  color: green;
}

#write > input{
  margin-top: 1em;
  width: 12em;
}

#footer h6 {
  font-size: 1em;
}

#footer ul {
  font-size: 0.8em;
}

.footer-columns{
  margin-bottom: 2em;
}

.footer-column{
  margin-right: 1em;
}

.footer-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-column ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
